/* HIDE THE 'Enable Visual Builder' Button*/
#et_pb_fb_cta{
	display: none !important;
}
	/* This is the background color for the Divi Panel that pops open
		when inserting modules or sections */
	.et-pb-main-settings{
		background-color: lightblue;
	}

/* CAWeb Options Page Styles */
#ca-options-container {
    margin-bottom: 5px;
}
/* Indent fields under each category */
@media (max-width: 782px){
  .form-table th {
    text-align: start !important;
  }
}
.form-table th{
    padding: 10px 10px 10px 0px;
    text-align: end;
  }
.form-table td{
  padding: 5px 10px;
}
select#ca_google_trans_display {
    margin-bottom: 10px;
}
#custom-css textarea{
	width: 100%;
	min-height: 700px;
}

.option{
	text-decoration: underline;
  font-size: 1.2rem;
}
.resetIcon{
	cursor: pointer;
}
#caweb-icon-menu{
	background-color: white ;
	height: 205px;
	overflow-y: scroll;
}
#caweb-icon-menu li{
	font-size: 24px;
	float: left;
	padding: 8px;
}
#caweb-icon-menu li.selected{
	background-color: #008BDB;
}
#caweb-icon-menu li:hover{
	background-color: #008BDB;
	cursor: pointer;
}
#caweb-icon-menu li:before{
	font-family: 'CaGov', 'ETModules';
	content: attr(data-icon);
}
#cawebAlerts{
	width: 50%
}
#cawebAlerts li{
	border-bottom: 1px solid black;
	cursor: -webkit-grabbing;
  padding: 1px 10px 10px 10px;
}
#cawebAlerts .pending-alert {
    background-color: #d8fad7;
}
[class*="caweb-alert-"] h3 {
    display: inline;
    text-decoration: underline;
}
[class*="caweb-alert-"] p{
	font-weight: bold;
	margin-bottom: 0;
}
[class*="caweb-alert-"] label{
	padding-right: 15px;
}
[class*="caweb-alert-"] div input[type="text"] {
    width: 100%;
}
[class*="caweb-alert-"] div.hidden + p + ul#caweb-icon-menu{
	height: 248px;
}
[class*="caweb-alert-"] div + p + ul#caweb-icon-menu{
	height: 160px;
}
[class*="caweb-alert-"] .button.button-primary{
	float: right;
	margin-left: 15px;
}
.caweb-alert pre{
	font-family: inherit;
	margin-bottom: 0;
}
.caweb-alert pre p{
	display: inline;
}
.caweb-alert pre a{
	float: right;
	cursor: pointer;
}
.caweb-alert input[type="text"]{
	width: 50%;
}
.caweb-alert textarea{
	width: 100%;
	height: 175px;
	resize: none;
}
.removeAlert,
.removeAlert:hover{
	color: red;
}
#addAlertBanner{
	text-decoration: none;
}
#addCSS:hover, #addAlertBanner:hover, .resetAlertIcon:hover {
    cursor: pointer;
}
ol#uploadedCSS li p {
    display: inline;
    cursor: -webkit-grab;
}
ol#uploadedCSS li .previewStyle {
    margin-left: -105px;
	color: green;
}
ol#uploadedCSS li .removeStyle,
tr.pending-stylesheet td .removeStyle {
    margin-right: 45px;
	color: red;
	cursor: pointer
}
tr.pending-stylesheet td .removeStyle {
  margin-left: -28px;
  margin-right: 22px;
}

/* CAWeb Navigation Page Styles */
.page-title-action{
  display:none;
}
 .mega_menu_images.show, .media_image.show, .unit_selector.show, .icon_selector.show{
    display:block;
  }

.mega_menu_images, .media_image, .unit_selector, .icon_selector {
    display: none ;
}
  .menu-item-edit-active .menu-item-settings {
    display: inline-block !important;
}

h2.nav-tab-wrapper{
  border-bottom: none !important;

}
/* Remove Auto-add Pages from Navigation menu */
fieldset.menu-settings-group.auto-add-pages{
    display: none;
}
/* Remove Move options from Navigation menu items */
p.field-move {
    display: none !important;
}
/* Icon List */
  ul.menu-icon-list{
    height: 300px;
    overflow-y: scroll;
  }
ul.menu-icon-list li:hover{
	background-color: #008BDB;
	cursor: pointer;
}

 ul.menu-icon-list li.is_selected{
    background-color: #008BDB;
}

	ul.et_font_icon {
		background-color: white !important;
		max-height: 300px;
	}
	.et_font_icon li {
		font-size: 30px;
    float: left;
    padding: 8px;
	}
	.et-pb-option-container .description {
			color: black !important;
	}
/* Tooltip Styles */
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltip:hover{
		cursor: help;
}
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
		width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;


    position: absolute;
    z-index: 1;

		/* Positioning Styles*/
		/* Left */
    bottom: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;

}

.ca_fav_ico_option{
	height: 32px;
}

.header_ca_branding_option, .ca_fav_ico_option, .header_ca_background_option{
	min-height: 1px;
  max-height: 150px;
  padding-left: 2px;
  padding-top: 5px;
}

/* Customizer Styling */
#customize-control-caweb_custom_css label textarea{height: 500px; resize: none; overflow-y: scroll;}
#accordion-panel-nav_menus{display:none !important;}
