/*---------------
 # CAWeb
---------------*/
/*------------------------
 # CAWeb Accessibility
------------------------*/
/* WPForms correct required label color contrast ADA */
.wpforms-required-label {
  color: #D24532 !important;
}

div.wpforms-container-full input:focus,
div.wpforms-container-full textarea:focus,
div.wpforms-container-full button[type="submit"]:focus,
div.wpforms-container-full select:focus,
div.wpforms-container-full .flag-container .selected-flag:focus {
  outline: #2ea3f2 solid 2px !important;
}

/* MailPoet correct focus on inputs */
div[id^="mailpoet_form_"] input:focus {
  outline: #2ea3f2 solid 2px !important;
}

/* MailChimp ADA Fixes */
#mc-embedded-subscribe-form
span.asterisk, .mce_inline_error {
  color: #D24532 !important;
}

#mc-embedded-subscribe-form input.required.mce_inline_error {
  border: 2px solid #D24532 !important;
}

/* Tabby Response ADA Fixes */
li.responsive-tabs__list__item.keyboard-outline,
li.responsive-tabs__list__item.responsive-tabs__list__item--active:focus {
  outline: #2ea3f2 solid 2px !important;
}

li.responsive-tabs__list__item {
  color: #757575 !important;
}

/* Add focus to TablePress Headers */
table[id^="tablepress-"] thead tr th:focus {
  outline: #2ea3f2 solid 2px !important;
}

/* Add focus to TablePress Search Input Filter */
div[id^="tablepress-"].dataTables_filter input[type="search"]:focus {
  outline: #2ea3f2 solid 2px !important;
}

/* Makes TablePress Tables Responsive */
.dataTables_wrapper {
  overflow-x: auto;
}

/* Thickbox Styles */
#TB_closeWindow #TB_closeWindowButton .tb-close-icon {
  display: none;
}

#TB_closeWindow #TB_closeWindowButton .screen-reader-text,
#TB_title #TB_closeWindowButton .screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

/* Widget Menu Style */
.et_pb_widget ul li {
  float: left;
  clear: both;
}

.widget_nav_menu li {
  border-top: 1px solid #d7d7d7;
  margin-bottom: 0 !important;
}

.widget_nav_menu li:first-child {
  border-top: none;
}

.widget_nav_menu li a {
  display: block;
  padding: 0.85rem 1rem 0.85rem 1.8rem;
}

.widget_nav_menu .current-menu-item.active a {
  color: #046B99;
  font-weight: 700;
}

.widget_nav_menu .current-menu-item.active {
  border-left: 4px solid #0071bc;
}

.widget_nav_menu ul li p {
  margin-bottom: 0px !important;
}

.widget_nav_menu_a .widget_nav_menu_title {
  padding-left: 45px;
  display: table-cell;
  vertical-align: middle;
  height: 50px;
  margin-bottom: 0px;
}

.widget_nav_menu .widget_nav_menu_icon,
.widget_nav_menu .widget_nav_menu_img {
  position: absolute;
}

.widget_nav_menu .widget_nav_menu_icon {
  font-size: 35px;
}

.widget_nav_menu .widget_nav_menu_img {
  width: 50px;
  height: 35px;
}

/* Divi Specific Overrides */
.et_pb_main_blurb_image a.keyboard-outline {
  display: -webkit-box;
  display: inline-block;
}

.et_pb_module.et_pb_toggle.et_pb_toggle_item:focus {
  outline: #2ea3f2 solid 2px !important;
}

/* HIDE THE 'Enable Visual Builder' Button*/
#wp-admin-bar-et-use-visual-builder {
  display: none !important;
}

#page-container {
  padding-top: 0px;
}

.et_section_regular {
  padding: 0 !important;
}

p {
  padding-bottom: 0;
}

.search-results .et_pb_post {
  margin-bottom: 30px;
}

/* WordPress Specific Overrides */
#wpadminbar {
  position: fixed;
}

.non_divi_builder.title_not_displayed .main-primary {
  padding-top: 25px;
}

.non_divi_builder .main-primary {
  padding-bottom: 25px;
}

#comment-wrap .comment-body {
  border: 1px dotted transparent;
}

#comment-wrap .comment-body:before {
  margin: unset;
  height: unset;
}

.single .post {
  padding-bottom: 0;
}

.single.non_divi_builder.sidebar_displayed .main-content .main-primary,
.archive.sidebar_displayed .main-content .main-primary {
  width: 75%;
  float: left;
}

#non_divi_sidebar {
  float: left;
  width: 25%;
}

#non_divi_sidebar #sidebar {
  padding: 28px 0px;
  width: 100%;
}

.archive .main-content article {
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
}

.archive.author article.has-post-thumbnail .auth-link,
.archive.category article.has-post-thumbnail .cat-link,
.archive.date article.has-post-thumbnail .date-link,
.archive.tag article.has-post-thumbnail .tag-link {
  width: 200px;
  height: 150px;
  padding-right: 20px;
  padding-bottom: 15px;
  float: left;
}

@media (max-width: 768px) {
  .single.non_divi_builder .main-content .main-primary,
  .archive .main-content .main-primary {
    width: 100% !important;
  }
  #non_divi_sidebar {
    width: 75% !important;
  }
}

/* Print Formatting */
@media print {
  body {
    background: white !important;
  }
  /* Main Content */
  #main-content {
    padding-top: 0 !important;
    outline: transparent !important;
  }
  .main-content {
    background: transparent !important;
  }
  /* Header Organization Banner */
  .header-organization-banner {
    margin-left: -59px !important;
  }
  /* Navigation Search */
  .navigation-search {
    border: none !important;
  }
  /* Width */
  .single.non_divi_builder.sidebar_displayed .main-content .main-primary,
  .archive.sidebar_displayed .main-content .main-primary {
    width: 100% !important;
  }
  /* Page Margins */
  .et_pb_row,
  .non_divi_builder #main-content {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .et_pb_row {
    display: inline !important;
  }
  /* Max-Width */
  .non_divi_builder #main-content,
  .et_pb_row,
  .et_pb_row,
  .non_divi_builder .main-content,
  .page-title,
  .et_pb_gutters3 .et_pb_column_2_3,
  .et_pb_gutters3.et_pb_row .et_pb_column_2_3 {
    max-width: 100% !important;
    width: 100% !important;
  }
  /* Padding */
  .et_pb_post_title, .et_pb_section, .et_pb_column_2_3 .et_pb_row_inner {
    padding: 1em !important;
  }
  /* Padding-left */
  .mobile-control.cagov-logo {
    padding-left: 0px !important;
  }
  /* Utility Header */
  .utility-header {
    height: 45px !important;
  }
  /* Hide the following elements */
  header,
  footer,
  .return-top.is-visible,
  .addtoany_share_save_container,
  #ae_app,
  .et_pb_fullwidth_section,
  .et_pb_column.et_pb_column_1_3:not(.et_pb_column_inner),
  .et_pb_column.et_pb_column_1_4,
  aside#non_divi_sidebar,
  .si-toggle-container {
    display: none !important;
    visibility: hidden !important;
  }
}

body {
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  margin-top: 0;
  margin-bottom: 0;
}

.list-standout,
.list-understated,
.list-overstated,
.accordion-list {
  list-style-type: none !important;
  padding: 0 !important;
}

.list-standout {
  padding-left: 1.5em !important;
}

.pagination {
  display: block;
}

body.page-template-searchpage.logged-in .gssb_c,
body.v4.logged-in .gssb_c {
  margin-top: 35px;
}

/* Remove extra padding when ul is nested inside another ul */
ul ul {
  padding-bottom: 0px;
}

ol {
  margin-left: 16px;
}

ol {
  list-style-position: outside !important;
}

header {
  z-index: 15 !important;
}

ol.breadcrumb {
  text-transform: capitalize;
  margin-bottom: 0;
}

/**
* Page & Builder Width Styles
* 
* Non Divi Built Pages ( WP Vanilla Pages )
* Divi Built Standard Section Rows
* Divi Built Standard Section Rows when using Visual Builder
* Divi Fullwidth Menu Module Rows
*/
#main-content {
  background-color: #fff !important;
  overflow: hidden;
}

/* Corrects issue when Global Header not being Fixed (Sticky Navigation), main-content doesnt go full width */
body:not(.sticky_nav) #main-content.main-content {
  width: 100%;
}

#main-content > .section {
  padding-top: 0;
}

.non_divi_builder .main-content,
#main-content .entry-content .et_builder_inner_content > .et_pb_section > .et_pb_row,
#main-content .entry-content .et_builder_inner_content > #et-fb-app .et-fb-post-content > .et_pb_section > .et_pb_row,
.et_pb_module.et_pb_fullwidth_menu .et_pb_row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.non_divi_builder .main-content,
#main-content .entry-content .et_builder_inner_content > .et_pb_section > .et_pb_row,
#main-content .entry-content .et_builder_inner_content > #et-fb-app .et-fb-post-content > .et_pb_section > .et_pb_row,
.et_pb_module.et_pb_fullwidth_menu .et_pb_row {
  padding-left: 15px;
  padding-right: 15px;
}

/**
* Page & Builder Breakpoint Styles
* 
* Non Divi Built Pages ( WP Vanilla Pages )
* Divi Built Standard Section Rows
* Divi Built Standard Section Rows when using Visual Builder
* Divi Fullwidth Menu Module Rows
*/
@media (min-width: 768px) {
  .non_divi_builder .main-content,
  #main-content .entry-content .et_builder_inner_content > .et_pb_section > .et_pb_row,
  #main-content .entry-content .et_builder_inner_content > #et-fb-app .et-fb-post-content > .et_pb_section > .et_pb_row,
  .et_pb_module.et_pb_fullwidth_menu .et_pb_row {
    max-width: 750px !important;
  }
}

@media (min-width: 992px) {
  .non_divi_builder .main-content,
  #main-content .entry-content .et_builder_inner_content > .et_pb_section > .et_pb_row,
  #main-content .entry-content .et_builder_inner_content > #et-fb-app .et-fb-post-content > .et_pb_section > .et_pb_row,
  .et_pb_module.et_pb_fullwidth_menu .et_pb_row {
    max-width: 970px !important;
  }
}

@media (min-width: 1200px) {
  .non_divi_builder .main-content,
  #main-content .entry-content .et_builder_inner_content > .et_pb_section > .et_pb_row,
  #main-content .entry-content .et_builder_inner_content > #et-fb-app .et-fb-post-content > .et_pb_section > .et_pb_row,
  .et_pb_module.et_pb_fullwidth_menu .et_pb_row {
    max-width: 1200px !important;
  }
}

@media (min-width: 1280px) {
  .non_divi_builder .main-content,
  #main-content .entry-content .et_builder_inner_content > .et_pb_section > .et_pb_row,
  #main-content .entry-content .et_builder_inner_content > #et-fb-app .et-fb-post-content > .et_pb_section > .et_pb_row,
  .et_pb_module.et_pb_fullwidth_menu .et_pb_row {
    max-width: 1280px !important;
  }
}

@media (max-width: 767px) {
  .non_divi_builder .main-content,
  #main-content .entry-content .et_builder_inner_content > .et_pb_section > .et_pb_row,
  #main-content .entry-content .et_builder_inner_content > #et-fb-app .et-fb-post-content > .et_pb_section > .et_pb_row,
  .et_pb_module.et_pb_fullwidth_menu .et_pb_row {
    width: 100% !important;
    margin: 0 auto;
  }
  .non_divi_builder .main-content,
  #main-content .entry-content .et_builder_inner_content > .et_pb_section > .et_pb_row
#main-content .entry-content .et_builder_inner_content > #et-fb-app .et-fb-post-content > .et_pb_section > .et_pb_row {
    padding: 0 15px;
  }
}

/* Page Title */
.page-title {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.divi_builder .page-title {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .page-title {
    max-width: 750px !important;
  }
}

@media (min-width: 992px) {
  .page-title {
    max-width: 970px !important;
  }
}

@media (min-width: 1200px) {
  .page-title {
    max-width: 1200px !important;
  }
}

@media (min-width: 1280px) {
  .page-title {
    max-width: 1280px !important;
  }
}

@media (max-width: 767px) {
  .page-title {
    width: 100% !important;
    margin: 0 auto;
  }
  .divi_builder .page-title {
    padding-bottom: 30px !important;
  }
}

/* Utility Header */
/* Quick fix to prevent the setting link buttons from floating into the alert banners */
.utility-header .flex-row .settings-links button {
  margin: 0 4px;
}

@media (max-width: 767px) {
  .utility-header .container {
    width: 100%;
  }
}

/* Location Bar Style */
.location-settings #locationZipCode::-webkit-inner-spin-button,
.location-settings #locationZipCode::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.location-settings button.close {
  position: absolute;
  right: 15px;
  top: 10px;
  opacity: 0.8;
  font-size: 2.5em;
}

.location-settings button.close:focus {
  color: #FDB81E !important;
}

/* Google Translate */
#google_translate_element.standard-translate {
  width: auto;
  padding-left: 0;
  text-align: right;
}

#google_translate_element .skiptranslate.goog-te-gadget div {
  color: initial;
}

#google_translate_element .skiptranslate.goog-te-gadget, .skiptranslate.goog-te-gadget a {
  color: white;
}

#google_translate_element.custom-translate .skiptranslate.goog-te-gadget, .skiptranslate.goog-te-gadget a {
  color: inherit;
}

.skiptranslate.goog-te-gadget a:hover {
  color: #fee09c;
}

.first-level-link {
  height: auto;
  /* Allows for the Navigation Top Level Links to wrap */
  white-space: normal;
}

#nav_list {
  width: 100%;
}

.sub-nav {
  left: 0;
  right: 0;
}

.second-level-nav {
  display: initial;
}

.second-level-nav li {
  float: left;
}

.unit2, .unit3, .unit3 .nav-media .media {
  height: 130px;
}

@media (max-width: 767px) {
  #nav_list {
    width: 100%;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  /* Main Navigation fix, increases height when links main links wrap */
  .main-navigation {
    display: flex;
    flex-direction: row-reverse;
    padding-left: 320px;
    max-height: 300px !important;
  }
  .top-level-nav .nav-item {
    padding: 0 6px;
  }
}

@media (min-width: 992px) {
  .top-level-nav .nav-item {
    padding: 0 8px;
  }
}

/* Dropdown Navigation Styles */
.main-navigation.dropdown .sub-nav ul li {
  width: 100%;
  height: auto;
}

.main-navigation.dropdown .sub-nav ul li img {
  display: none;
}

@media (min-width: 768px) {
  .main-navigation.dropdown .sub-nav {
    max-width: 250px;
    left: auto;
    /* IE does not recognize initial */
    left: initial;
    right: auto;
    /* IE does not recognize initial */
    right: initial;
  }
}

/* MegaDropdown Navigation Styles */
.main-navigation.megadropdown .unit1 .second-level-link {
  height: 65px;
}

.full .second-level-nav .unit1 {
  width: 25%;
}

.half .second-level-nav .unit3 .nav-media .media .unit2 {
  width: 100%;
}

.full .second-level-nav .unit2,
.full .second-level-nav .unit3,
.half .second-level-nav .unit1,
.half .second-level-nav .unit2,
.three-quarters .second-level-nav li.unit2,
.three-quarters .second-level-nav li.unit3 {
  width: 50%;
}

.three-quarters .second-level-nav li.unit1 {
  width: 33.3%;
}

/* MegaDropdown Columns*/
.nav-item.two-columns .three-quarters .second-level-nav .unit1,
.nav-item.two-columns .three-quarters .second-level-nav .unit2,
.nav-item.two-columns .three-quarters .second-level-nav .unit3,
.nav-item.two-columns .half .second-level-nav .unit1,
.nav-item.two-columns .half .second-level-nav .unit2,
.nav-item.two-columns .half .second-level-nav .unit3 {
  width: 100%;
}

.nav-item.two-columns .full .second-level-nav .unit1,
.nav-item.two-columns .full .second-level-nav .unit2,
.nav-item.two-columns .full .second-level-nav .unit3,
.nav-item.three-columns .half .second-level-nav .unit1,
.nav-item.three-columns .half .second-level-nav .unit2,
.nav-item.three-columns .half .second-level-nav .unit3 {
  width: 50%;
}

.nav-item.three-columns .full .second-level-nav .unit1,
.nav-item.three-columns .full .second-level-nav .unit2,
.nav-item.three-columns .full .second-level-nav .unit3,
.nav-item.four-columns .three-quarters .second-level-nav .unit2,
.nav-item.four-columns .three-quarters .second-level-nav .unit3,
.nav-item.four-columns .half .second-level-nav .unit1,
.nav-item.four-columns .half .second-level-nav .unit2,
.nav-item.four-columns .half .second-level-nav .unit3 {
  width: 33.33%;
  width: calc(100% /3);
}

.nav-item.four-columns .full .second-level-nav .unit1,
.nav-item.four-columns .full .second-level-nav .unit2,
.nav-item.four-columns .full .second-level-nav .unit3 {
  width: 25%;
}

@media (max-width: 767px) {
  .second-level-nav li {
    float: none;
    width: 100% !important;
  }
  .second-level-nav .unit2 .link-description,
  .second-level-nav .unit3 .link-description {
    width: auto;
    height: auto;
    clip: auto;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .sub-nav .three-quarters {
    left: 0;
    width: 50%;
  }
  .three-quarters .second-level-nav li.unit1 {
    width: 100%;
  }
  .three-quarters .second-level-nav li.unit2,
  .three-quarters .second-level-nav li.unit3 {
    width: 100%;
  }
}

/* position the owl dots */
.header-slideshow-banner .banner-pager,
.header-slideshow-banner .banner-play-pause {
  top: inherit;
  bottom: 140px;
  z-index: 6;
}

.et_pb_ca_section_carousel .container {
  padding-top: 10px !important;
}

.et_pb_ca_fullwidth_section_carousel .container {
  padding-top: 10px !important;
}

/* Footer */
footer span a {
  color: #046B99 !important;
  background-image: linear-gradient(to right, #046B99 50%, transparent 50%);
  background-repeat: repeat-x;
  background-size: 2px 1px;
  background-position: center bottom 4%;
  background-origin: padding-box;
  text-decoration: none !important;
}

footer span a:hover {
  color: #02374e !important;
}

footer .container .group {
  display: flex;
}

.global-footer ul > li {
  padding-left: 0;
}

#footer .quarter {
  flex-grow: 2;
  width: auto;
}

#footer .three-quarters {
  flex-grow: 8;
  width: auto;
}

/* Allow anchor links in global footers to maintain the normal blue color */
@media (max-width: 768px) {
  footer .container {
    width: 100% !important;
    margin-left: 0;
    margin-right: 0;
  }
  footer .copyright span {
    float: none !important;
  }
  footer .copyright p {
    display: block !important;
  }
}
