/* HIDE THE 'Enable Visual Builder' Button*/
#wp-admin-bar-et-use-visual-builder{
  display: none !important;
}

/* ID Anchors do not jump to the correct location when the sticky navigation is compacted */
header.fixed.compact + #page-container{
	transition: padding-top 500ms;
}
.mobile-controls{
	cursor: auto;
}
.mobile-controls span {
    cursor: pointer;
}
.page-title.et_pb_row{
  padding-bottom: 0;
}

/* Makes TablePress Tables Responsive */
.dataTables_wrapper {
    overflow-x: auto;
}

#main-content {
    background-color: #fff !important;
}
#main-content .ca_wp_container{
  	padding-top: 0;
}

ol.breadcrumb{
 text-transform: capitalize;
  margin-bottom: 0;
}

/* Remove extra padding when ul is nested inside another ul */
ul ul{
	padding-bottom: 0px !important;
}

ul, ol{
  list-style-position: outside !important;
}
/* Allows for the Navigation Top Level Links to wrap */
.first-level-link{
  	white-space: normal;
}

/* Header Slideshow Banner */
.slide-text{
	max-width: 50%;
	padding-bottom: 15px !important;
}

/* WordPress Specific Overrides */
#wpadminbar {
       position: fixed;
 }
/* Divi Specific Overrides */
#page-container{
  padding-top: 0px;
}

.et_section_regular{
  padding: 0 !important;
}

/*.et_pb_row{
  	width: auto;
    max-width: 100%;
  	margin: 0;
}*/

/* Media Styles */
@media (min-width: 768px){
  .main-navigation.dropdown .nav-item:hover .sub-nav,
  .no-js .main-navigation.dropdown .nav-item:hover .sub-nav,
  .no-js .main-navigation.megadropdown .nav-item:hover .sub-nav {
      display: none;
  }
}

@media print{
	body {
    background: white !important;
	}
  header{
		position: relative !important;
	}
	#main-content.main-content{
			padding-top: 0px !important;
	}
  .utility-header{
    height: 45px;
  }
  .mobile-control.cagov-logo{
    padding-left: 0px;
  }
	.header-organization-banner{
		margin-left: -59px;
	}
  .navigation-search{
    border: none;
  }
  .main-content{
			background: transparent !important;
	}
}

.et_pb_ca_panel .panel-body ul, .et_pb_ca_panel .panel-body ol{
  padding-bottom: 0px;
  margin-bottom: 0px;
}

p{
  padding-bottom: 0;
}
.search-results .et_pb_post{
  margin-bottom: 30px;

}
