/* ca_wp_container is used as a class to structure all CA WordPress Pages */
/*.ca_wp_container{
    width: auto;
    max-width: 100%;
  	margin: 0;
  	padding: 0;
}*/
/* Media Query Styles */
/*@media (min-width: 768px){
  .ca_wp_container{
  	margin: 0 5%;
  }
}


@media (min-width: 1080px){
  .ca_wp_container{
        margin: 0 10%;
  }

}*/

/*@media (min-width: 1280px){
  .ca_wp_container{
        margin: 0 15%;
  }
}*/
/* End of Media Query Styles */

/* Mobile Control */
/*@media (max-width: 767px) {
.ca_wp_container{
        margin: 0;
  }
}*/
/* End of Mobile Control Styles */
