/* Fullwidth Header Slideshow Banner */
.et_pb_ca_fullwidth_banner_item.et_pb_module.slide .slide-text{
  max-width: 50%;
  padding-bottom: 15px !important;
	bottom: 50%;
}
.et_pb_ca_fullwidth_banner_item.et_pb_module.slide .slide-text.center{
	left: 25%;
}
.et_pb_ca_fullwidth_banner_item.et_pb_module.slide .slide-text.right{
	left: 50%;
}
/* Fullwidth Menu */
.et_pb_module.et_pb_fullwidth_menu .nav > li{
	display: inline-block;
}
.et_pb_module.et_pb_fullwidth_menu li.menu-item-has-children>a:first-child{
	padding: 0 20px 29px 0;
}
.et_pb_module.et_pb_fullwidth_menu li.menu-item-has-children .sub-menu li a{
	padding: 6px 20px;
}
.et_pb_module.et_pb_fullwidth_menu .fullwidth-menu-nav>ul ul{
	padding-bottom: 20px;
}
.et_pb_module.et_pb_ca_fullwidth_banner.solo #primary-carousel div[class*="banner-"] {
    display: none;
}
.et_pb_module.et_pb_ca_fullwidth_banner.no-explore #primary-carousel div[class*="banner-"] {
	bottom: 0;
}
.explore-invite {
  z-index: 1;
}
/* Section Primary  */
.section{
overflow: hidden;
}
/* Adds padding under featured image when in tablet mode */
@media (max-width: 991px){
  .et_pb_ca_fullwidth_section_primary .col-md-4 img.img-responsive,
  .et_pb_ca_section_primary .col-md-4 img.img-responsive{
      padding-bottom: 10px;
  }
  .et_pb_ca_fullwidth_section_primary.et_pb_module .col-md-4,
  .et_pb_ca_section_primary.et_pb_module .col-md-4{
      float: none !important;
    	padding-left: 0;
    	padding-right: 0;
  }
}

.et_pb_ca_section_primary,
.et_pb_ca_fullwidth_section_primary,
.et_pb_ca_fullwidth_section_footer{
    margin-bottom: 0 !important;
    padding: 10px 15px;
}

/* Section - Footer */
.et_pb_ca_fullwidth_section_footer .row .quarter h4:first-child ,
.et_pb_ca_section_footer .row .quarter h4:first-child {
    border-bottom-style: none;
}
.et_pb_ca_fullwidth_section_footer ul{
  padding: 0 !important;
}

/* Section - Carousel */
.et_pb_ca_section_carousel .container{
	width: 100%;
}

.et_pb_ca_section_carousel .carousel-media .item .preview-image,
.et_pb_ca_fullwidth_section_carousel .carousel-media .item .preview-image{
 	height: 150px;
}
.et_pb_ca_section_carousel .carousel-media .item img,
.et_pb_ca_fullwidth_section_carousel .carousel-media .item img{
 	height: 100%;
}
.et_pb_ca_section_carousel .carousel-media .item .details,
.et_pb_ca_fullwidth_section_carousel  .carousel-media .item .details{
 	margin-top: 1em;
}
/* Panel Style */
.et_pb_ca_panel.panel-none,
.et_pb_ca_fullwidth_panel.panel-none{
  border: none;
}
.et_pb_ca_panel .panel-heading h2,
.et_pb_ca_fullwidth_panel .panel-heading h2{
	width: 100%;
}
/* Location Banner Thumbnail Image Fix*/
.et_pb_ca_location_widget.location.banner .thumbnail img {
    width: 100%;
 }
.et_pb_ca_location_widget.location.banner .description {
    padding-bottom: 10px;
}
.et_pb_ca_location_widget.location.banner .address a {
  margin-left: 30px;
  display: inline-block;
}
/* Profile Banner */
.profile-banner .banner-subtitle{
  color: #333333;

}
.profile-banner{
	background: url('../images/banner/banner-blank.png') no-repeat;
   background-size: 100% 100%;
   overflow: hidden;
   height: 90px;
}

.profile-banner.round-image{
	background: unset;
  height: auto;
  border: none;
}

.profile-banner-img-wrapper{
  height: 90px;
  float: right;
  border-radius: 50px;
  overflow: hidden;
}

.profile-banner-wrapper a:hover{
  text-decoration: none;
}

/* Divi Accordion Style */
.et-learn-more h3.heading-more {
    color: black;
}

ul, ol{
  list-style-position: outside;
}

/* Fullwidth Section Footer */
.et_pb_ca_fullwidth_section_footer li{
  margin-left: 1em;
  text-indent: -1em;
}


/* Fullwidth Section Carousel */
.et_pb_ca_fullwidth_section_carousel button {
  margin-top: 1em;
}

.et_pb_ca_fullwidth_section_carousel button a, .et_pb_ca_fullwidth_section_carousel h2{
  color: white;
}

/* Section Carousel */
.et_pb_ca_section_carousel button {
  margin-top: 1em;
}

.et_pb_ca_section_carousel button a, .et_pb_ca_section_carousel h2{
  color: white;
}

ol{
  margin-left: 16px;
}

/* Service Tiles */
.et_pb_ca_fullwidth_service_tiles .service-tile.half{
	width:50%;
}
.et_pb_ca_fullwidth_service_tiles .service-tile.full{
	width:100%;
}

.et_pb_module.et_pb_ca_post_list.news-list .news-item .info .description [id$="excerpt"],
.et_pb_module.et_pb_ca_post_list.general-list .event-item .description [id$="excerpt"] {
  white-space: pre-line;
}

/* Post List (Events) */
.et_pb_module.et_pb_ca_post_list.events-list .event-item .info h5 {
  padding-bottom: 0px;
}
.et_pb_module.et_pb_ca_post_list.events-list .event-item .info h5 a{
  color: #347AB7;
}
/* Post List (News) */
.et_pb_module.et_pb_ca_post_list.news-list .news-item .thumbnail {
    width: auto;
}
.et_pb_module.et_pb_ca_post_list.indent.news-list .info{
	padding-left: 175px;
}
/* Post List (Profile) */
.et_pb_module.et_pb_ca_post_list.profile-list .profile-item.no-thumbnail .header,
.et_pb_module.et_pb_ca_post_list.profile-list .profile-item.no-thumbnail .body{
  margin-left: 0;
}
.et_pb_module.et_pb_ca_post_list.profile-list .profile-item{
  min-height: 105px;
}
/* Post List (FAQs) */
/* Remove the Divi Padding around the et_pb_toggle */
.et_pb_module.et_pb_ca_post_list.faqs-list .et_pb_toggle_open,
.et_pb_module.et_pb_ca_post_list.faqs-list .et_pb_toggle_close{
	padding: 0px;
}
/* Add outline */
.et_pb_module.et_pb_ca_post_list.faqs-list .et_pb_toggle_open:focus,
.et_pb_module.et_pb_ca_post_list.faqs-list .et_pb_toggle_close:focus{
	outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
.et_pb_module.et_pb_ca_post_list.faqs-list .et_pb_toggle_open .panel-heading .panel-title ,
.et_pb_module.et_pb_ca_post_list.faqs-list .et_pb_toggle_close .panel-heading .panel-title {
		color: black !important;
    padding-bottom: 0px;
}
.et_pb_module.et_pb_ca_post_list.faqs-list .et_pb_toggle_open .panel-heading ,
.et_pb_module.et_pb_ca_post_list.faqs-list .et_pb_toggle_close .panel-heading {
       border-bottom: inherit;
}
.et_pb_module.et_pb_ca_post_list.faqs-list .et_pb_toggle_title:before {
       content: "";
}
/* Post List (General) */
.et_pb_module.et_pb_ca_post_list.general-list .event-item h5 a:before{
  content: "";
}
/* Apply the Arrows */
.et_pb_module.et_pb_ca_post_list.faqs-list .et_pb_toggle_open .panel-heading .panel-title a:after {
    content: "\43";
    font-family: cagov;
}

.et_pb_module.et_pb_ca_post_list.faqs-list .et_pb_toggle_close  .panel-heading .panel-title a:after {
    content: "\45";
    font-family: cagov;
}

/* Cards */
.et_pb_ca_card.et_pb_module .card-header {
	padding: 11px 15px;
}
.et_pb_ca_card.et_pb_module .card-title{
	margin-bottom: 0px ;
	padding-bottom: 0px;
	/* Remove dotted line under card-title h4 ( this was in Version 4)*/
	border-bottom: 0 !important;
}
.et_pb_ca_card.et_pb_module .card-block {
	padding: 15px;
}
.et_pb_ca_card.et_pb_module .card-footer {
  padding: 11px 15px;
}

/* GitHub Module */
.et_pb_ca_github.et_pb_module ul li {
    list-style-type: none;
}
/* Remove the State Template background image from Divi Button, Email Optin, Blurb Images and Person Modules */
.et_pb_button_module_wrapper.et_pb_module .et_pb_button,
.et_pb_newsletter_button_wrap .et_pb_newsletter_button.et_pb_button,
.et_pb_main_blurb_image a,
.et_pb_team_member .et_pb_team_member_description .et_pb_member_social_links li a {
  background-image: none !important;
}

/* Divi Slider & Post Sliders, arrows are not ADA compliant */
.et-pb-arrow-next::before, .et-pb-arrow-prev::before{
  content: none;
}
a[class^="et-pb-arrow-"] span[class^="ca-gov-icon-"]{
  display:block; 
  font-size: 20px;
}
a[class^="et-pb-arrow-prev"]:focus{
  left:22px; 
  opacity: 1;
}
a[class^="et-pb-arrow-next"]:focus{
  right:22px; 
  opacity: 1;
}
