/* Section Primary  */
.section{
overflow: hidden;
}
/* Adds padding under featured image when in tablet mode */
@media (max-width: 991px){
  .et_pb_ca_fullwidth_section_primary .col-md-4 img.img-responsive,
  .et_pb_ca_section_primary .col-md-4 img.img-responsive{
      padding-bottom: 10px;
  }
  .et_pb_ca_fullwidth_section_primary.et_pb_module .col-md-4,
  .et_pb_ca_section_primary.et_pb_module .col-md-4{
      float: none !important;
    	padding-left: 0;
    	padding-right: 0;
  }
}

.et_pb_ca_section_primary,
.et_pb_ca_fullwidth_section_primary,
.et_pb_ca_fullwidth_section_footer{
    padding: 50px 25px;
}

/* Section - Footer */
.et_pb_ca_fullwidth_section_footer .row .quarter h4:first-child ,
.et_pb_ca_section_footer .row .quarter h4:first-child {
    border-bottom-style: none;
}
.et_pb_ca_fullwidth_section_footer ul{
  padding: 0 !important;
}

/* Section - Carousel */
.et_pb_ca_section_carousel .container{
	width: 100%;
}

.et_pb_ca_section_carousel .carousel-media .media.item .preview-image,
.et_pb_ca_fullwidth_section_carousel .carousel-media .media.item .preview-image{
 	height: 150px; 
}
.et_pb_ca_section_carousel .carousel-media .media.item img,
.et_pb_ca_fullwidth_section_carousel .carousel-media .media.item img{
 	height: 100%; 
}
.et_pb_ca_section_carousel .carousel-media .media.item .details,
.et_pb_ca_fullwidth_section_carousel  .carousel-media .media.item .details{
 	margin-top: 1em; 
}
/* Panel Style */
.panel-heading > h1 {
    margin: 0;
}
.panel-heading h2{
	width: 100%;
}
/* Location Banner Thumbnail Image Fix*/
.location.banner .thumbnail img {
    width: 100%;
 }
.et_pb_ca_location_widget.location.banner .description {
    padding-bottom: 10px;
}
/* Profile Banner */
.profile-banner .banner-subtitle{
  color: #333333;

}
.profile-banner{
	background: url('../images/banner/banner-blank.png') no-repeat;
   background-size: 100% 100%;
   overflow: hidden;
   height: 90px;
}

.profile-banner.round-image{
	background: unset;
  height: auto;
  border: none;
}

.profile-banner-img-wrapper{
  height: 90px;
  float: right;
  border-radius: 50px;
  overflow: hidden;
}

#profile-banner-wrapper a:hover{
  text-decoration: none;
}

/* Divi Accordion Style */
.et-learn-more h3.heading-more {
    color: black;
}

ul, ol{
  list-style-position: outside;
}

/* Fullwidth Section Footer */
.et_pb_ca_fullwidth_section_footer li{
  margin-left: 1em;
  text-indent: -1em;
}


/* Fullwidth Section Carousel */
.et_pb_ca_fullwidth_section_carousel button {
  margin-top: 1em;
}

.et_pb_ca_fullwidth_section_carousel button a, .et_pb_ca_fullwidth_section_carousel h2{
  color: white;
}

/* Section Carousel */
.et_pb_ca_section_carousel button {
  margin-top: 1em;
}

.et_pb_ca_section_carousel button a, .et_pb_ca_section_carousel h2{
  color: white;
}

ol{
  margin-left: 16px;
}

/* Service Tiles */
.et_pb_ca_fullwidth_service_tiles .service-tile.half{
	width:50%;
}
.et_pb_ca_fullwidth_service_tiles .service-tile.full{
	width:100%;
}

/* Post List */
/* Remove the Divi Padding around the et_pb_toggle */
.et_pb_module.et_pb_ca_post_list.faqs-list .et_pb_toggle_open,
.et_pb_module.et_pb_ca_post_list.faqs-list .et_pb_toggle_close{
	padding: 0px;
}
.et_pb_module.et_pb_ca_post_list.faqs-list .et_pb_toggle_open .panel-heading .panel-title ,
.et_pb_module.et_pb_ca_post_list.faqs-list .et_pb_toggle_close .panel-heading .panel-title {
		color: black !important;
    padding-bottom: 0px;
}
.et_pb_module.et_pb_ca_post_list.faqs-list .et_pb_toggle_open .panel-heading ,
.et_pb_module.et_pb_ca_post_list.faqs-list .et_pb_toggle_close .panel-heading {
       border-bottom: inherit;
}
/* Apply the Arrows */
.et_pb_module.et_pb_ca_post_list.faqs-list .et_pb_toggle_open .panel-heading .panel-title a:after {
    content: "\43";
    font-family: cagov;
}

.et_pb_module.et_pb_ca_post_list.faqs-list .et_pb_toggle_close  .panel-heading .panel-title a:after {
    content: "\45";
    font-family: cagov;
}

/* Cards */
/* Remove extra padding bottom of Card modules */
.et_pb_ca_card  .card-block * {
    padding-bottom: 0px;
}
.card-title{
	margin-bottom: 0px ;
	padding-bottom: 0px;
	 margin-top: 0;
	/* Remove dotted line under card-title h4*/
	border-bottom: 0 !important;
}
.card {
  position: relative;
  display: block;
  margin-bottom: 11px;
  background-color: #fff;
  border-radius: 0;
}
.card .btn-block {
  margin-top: 5px;
}
.card .toggle-more {
  display: inline-block;
  color: #777777;
  font-family: 'CaGov';
  font-size: 22px;
  margin-left: -11px;
  /* Change icon to minus */
}
.card .toggle-more:before {
  content: "\e050";
}
.card .toggle-more.active:before {
  content: "\e04f";
}
.card-block {
  padding: 15px;
	color: initial;
}
.card-subtitle {
  margin-top: -5.5px;
  margin-bottom: 0;
}
.card-text:last-child {
  margin-bottom: 0;
}
.card-link:hover {
  text-decoration: none;
}
.card-link + .card-link {
  margin-left: 15px;
}
.card-header {
  padding: 11px 15px;
}
.card-header:first-child {
  border-radius: -1px -1px 0 0;
}
.card-footer {
  padding: 11px 15px;
}
.card-footer:last-child {
  border-radius: 0 0 -1px -1px;
}
.card-img-top {
  border-radius: -1px -1px 0 0;
}
.card-img-bottom {
  border-radius: 0 0 -1px -1px;
}
