.caweb-class:before {
    content: "C";
    background-color: cornflowerblue;
    padding: 3px 5px;
    margin-top: 3px;
    border-radius: 50%;
    line-height: 0.75rem;
    font-size: 0.75rem;
    position: absolute;
}

.section + .section {
    padding-top: 0px;
}

.multi-terminal-commands {
    background: whitesmoke;
    border: 1px solid #d6d6d6;
    padding: 0px 15px;
    width: max-content;
}

.multi-terminal-commands pre{
    display: table-row;
}