/*
  Recently Added Styles
*/
.main-secondary .panel-heading h2{
  padding-bottom: 10px !important;
}

/*
  End of Recently Added Styles
*/

.header-organization-banner img{
  height: auto !important;
  width: auto !important;
  max-height: 90px;
  max-width: 355px;
}

.header-organization-banner{
  margin-left: 10%;
  margin-right: 14%;
  height: 100%;
  align-items: center;
}
.header-organization-banner.right{
  float: right;
}
.header-organization-banner.left{
  float: left;
}
.top-level-nav>li .first-level-link {
    text-decoration: none;
}
/* CA State Override Styles */
/* Header Slideshow Banner*/
	/* Makes the SlideShow Banner stay in the div */
	.header-slideshow-banner{
		height: 100% !important;
	}
	/* Navigation */
	/* This makes the sub-nav appear when the first-level-link is hovered*/
	.main-navigation>ul>li a.first-level-link:hover + div.sub-nav{
		display: inline !important;
	}
	/* This is so that the sub-nav stay visible while hovered */
	.nav-item .sub-nav:hover {
   		 display: inline;
	}
	/* This hides the link description from the Dropdown in Version 4 */
	nav.dropdown > ul#nav_list > li.nav-item >
	div.sub-nav > ul.second-level-nav>li .link-description {
    		 display: none !important;
	}
	/* Hide the 'X' button that appears in Version 4 search box */
	form#local_form > button.close.close-search {
    display: none;
	}
/* Place Google Translate float right and under the Search box, Search box increased by 10px */
@media (min-width: 768px){
	.search-container {
    		width: 160px;
	}
}
div#google_translate_element {
    right: 13px;
    position: absolute;
    z-index: 6;
    top: 55px;
}

.goog-logo-link, .goog-logo-link:link, .goog-logo-link:visited, .goog-logo-link:hover, .goog-logo-link:active {
    color: #fff;
  }
  .goog-te-combo{
    color:#666
  }

  .goog-te-gadget{
      color: #fff;
  }

div.entry-content > h1.container > span.ca-gov-icon-arrow-down{
	display:none;
}
	/* WordPress and Divi Override Styles */
/* Remove the padding from 80px to 0px to make
  main page-container begin below the header */
.et_fixed_nav.et_show_nav #page-container {
    padding-top: 0px !important;
}
