.et_pb_pagebuilder_layout.single-post #page-container .et_pb_row{
	width: 80%;
}
/* Temporary remove the sub nav arrow until the function in the core script is working */
.nav-arrow-down{
  	visibility: hidden;
}

/* Utility Header */
.utility-header .half{
	overflow:	hidden;

}

.utility-header ul{
	margin-left: 0;
}

.utility-header ul li{
  cursor: pointer;
}
.utility-header, .utility-header .half {
  	padding: 2px 0;

}
 .utility-header .half:first-child{
      width: 25%;
  }
.utility-header .settings-links {
  width: 75%;

}
ul.utility-links.social-media-links {
    max-height: 32px;
}

.utility-header .located-city-name {
  	margin-left: 0;
}
/* End of Utility Header */

/* Navigation and the List are set to auto width
and the nav links float to the right */
/*#navigation{
  		width: 100%;
  		padding: 0;
}*/

.top-level-nav{
  margin-right: -8px;
}
@media (min-width: 768px){
  .utility-links{
    margin-right: -8px;
  }
}
@media (max-width: 767px){
  .utility-header .container.ca_wp_container{
    width: 100%;
    padding-bottom: 2px;
  }
}
#nav_list{
    width: auto;
    float: right;
}
.sub-nav{
	left:  0;
  right: 0;
}

.second-level-nav {
    display: initial;
}
.second-level-nav li{
     float: left;
}
/* Full Sub-Nav */
.unit1 .second-level-link{
  height: 65px;
}

.unit2 , .unit3, .unit3  .nav-media .media{
  height: 130px;
}

/* MegaDropdown Navigation Styles */
.full .second-level-nav .unit1 {
    width: 25%;
}

.full .second-level-nav .unit2,
.full .second-level-nav .unit3,
.half .second-level-nav .unit1,
.half .second-level-nav .unit2,
.three-quarters .second-level-nav li.unit2,
.three-quarters .second-level-nav li.unit3{
     width: 50%;
}
.three-quarters .second-level-nav li.unit1{
  	width: 33.3%;
}

.half .second-level-nav .unit3 .nav-media .media .unit2{
  width: 100%;
}
/* Dropdown Navigation Styles */
.main-navigation.dropdown .sub-nav {
            max-width:250px;
            left: initial;
    right: initial;
}
.main-navigation.dropdown .sub-nav ul li{
	width: 100%;
}
.main-navigation.dropdown .sub-nav ul li img{
	display: none;
}

/* End of Branding & Navigation */
/* Search using Google API 2.0 */
.search-container.featured-search {
	min-height: inherit !important;
}
.gsc-input {
    font-size: 17.6px !important;
    font-size: 1.1rem !important;
    height: 40px;
    width: 100% !important;
    border: 3px solid transparent !important;
    padding: 0 0 !important;
}
.gsc-search-button{
height: 41px !important;
}
.search-container td.gsc-clear-button {
    display: none;
}
.search-container.active td.gsc-clear-button {
    display: block;
}
.featured-search.active .close-search{
    display: block;
}
td.gsc-clear-button {
    width: 100% !important;
}
td.gsc-clear-button:hover, td.gsc-clear-button:focus {
    outline: dotted 1px #000;
}
div.gsc-clear-button {
		padding-left: 0px !important;
		display: block !important;
    background-image: unset !important;
}

div.gsc-clear-button:before {
    content: '\4d';
    font-family: cagov;
    font-size: 2rem;
    width: 100%;
}
input.gsc-input {
    background-image: unset !important;

}

/* Header Slideshow Banner */

/* position the owl dots */
.header-slideshow-banner .banner-pager, .header-slideshow-banner .banner-play-pause{
  top: inherit;
  bottom: 140px;
  z-index: 6;
}


/* Footer */
.global-footer ul > li{
	padding-left: 0;

}
#footer .ca_wp_container div{
  padding: 0;
  overflow: hidden;
}
#footer .ca_wp_container .three-quarters{

}

#footer .socialsharer-container {
    height: 22px;
}

/* End of Footer */

/* Media Query Styles */
@media (max-width: 767px) {
	/*.et_pb_fullwidth_section{
		margin: 0 ;
	}*/

	.et_pb_ca_fullwidth_section_primary.et_pb_module .pull-right {
		padding-left: 0 !important;
	}

}
@media (min-width: 768px) {
	/*.et_pb_fullwidth_section{
		margin: 0 -6%;
	}*/

}


@media (min-width: 768px){
/* Branding & Navigation */
 .branding .header-cagov-logo img{
    max-width: 170px;
}

#nav_list{

    padding-left: calc(170px + 15%);
}
  .top-level-nav .nav-item {
    padding: 0 6px;
  }
/* End of Branding & Navigation */

}

/* Makes social media icons wrap below footer links */
@media (min-width: 992px){
#footer .three-quarters {
	float: left;
	min-width: 75%;
	width: unset;
  }
}
@media (min-width: 992px){
  #footer .quarter {
      float: left;
      max-width: 25%;
      width: unset;
  }
}
@media (min-width: 992px){

/* Branding & Navigation */
  .top-level-nav .nav-item {
    padding: 0 8px;
  }
/* End of Branding & Navigation */


}

@media (min-width: 1080px){

/*.et_pb_fullwidth_section{
		margin: 0 -12.5%;
	}*/
}

.branding .header-cagov-logo img{
  max-height: 80px;
}

@media (min-width: 1280px){

/* Branding & Navigation */
   .branding .header-cagov-logo img{
    max-width: 300px;
    max-height: 80px;
  }
  #nav_list{
    padding-left: 300px;

}
/* End of Branding & Navigation */

/*
	.et_pb_fullwidth_section{
		margin: 0 -21.5%;
	}*/
}

@media (max-width: 992px){
#footer .socialsharer-container {
    float: left;
}
}

@media (max-width: 991px) and (min-width: 768px){
.sub-nav .three-quarters {
    left: 0;
    width: 50%;
}

.three-quarters .second-level-nav li.unit1 {
    width: 100%;
}
.three-quarters .second-level-nav li.unit2,
.three-quarters .second-level-nav li.unit3{
  width: 100%;

}
}

/* End of Media Query Styles */
/* Mobile Control */
@media (max-width: 767px) {
  .mobile-controls{
    	background: #fff;
      padding-right: 70px;
  }
  .mobile-controls .toggle-menu, .mobile-controls .toggle-search{
    color: #046B99;
  }
  .mobile-controls .toggle-menu{
    right: 10px;
    left: auto;
  }
  #nav_list{
    width: 100%;
  }
  .second-level-nav li {
    float: none;
    width: 100% !important;
  }
  .second-level-nav .unit2  .link-description,
  .second-level-nav .unit3 .link-description{
    width: auto;
    height: auto;
    clip: auto;
  }

  .cagov-logo {
		position:static;
    position: initial;
    float: left;
    text-align: left;
    width: 80%;
}
  .cagov-logo img{
  	max-width : 100% ;
    max-height: 90px;
		margin-bottom: 8px;
  }


ul.utility-links.social-media-links {
    max-height: 35px;
    clip: rect(0 65px 40px 0);
    height: auto;
    width: auto;
}
	.utility-header .half:first-child{
      overflow: visible;
  }

  .utility-header .settings-links {
		float: right;
		text-align: right;
		width: auto;
		max-width: 85%;
}
    .branding {
    display: none;
}
.et_pb_row.main-navigation{
      width: 100%;
    }

}
/* End of Mobile Control Styles */
@media (min-width: 768px){
  .et_pb_row.main-navigation{
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    width: 80% !important;
  }
}


/* Section Carousel Version 5 */
.et_pb_ca_section_carousel .container{
  padding-top: 10px !important;
}


/* Fullwidth Section Carousel Version 5 */
.et_pb_ca_fullwidth_section_carousel .container{
  padding-top: 10px !important;
}
.ca_wp_container{
  max-width: 1080px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


@media (max-width: 980px){
.ca_wp_container{
  padding: 0;
}
}

@media (min-width: 981px){
.ca_wp_container{
  padding: 0;
}
}
@media (max-width: 767px){
  .ca_wp_container.main-navigation{
    width: 100%;
  }
  .et_pb_row{
    width: 90% !important;

  }
}
