body{
 background-color: #fff; 
}
.et_pb_pagebuilder_layout.single-post #page-container .et_pb_row{
	width: 80%;
}
/* Temporary remove the sub nav arrow until the function in the core script is working */
.nav-arrow-down{
  	visibility: hidden;
}
input.gsc-input {
    background-image: unset !important;
}

/* Utility Header */
.utility-header .half{
 padding-left: 15px !important; 
}
ul.utility-links.social-media-links{
 max-height: unset !important; 
}
.utility-header ul li {
    cursor: pointer;
}
.utility-header ul li {
    padding: 3px 8px;
}
.utility-geo-locator .ca-gov-icon-compass{
 margin-right: 5px; 
}
.utility-geo-locator .located-city-name{
  margin-left: 0;
}

/* End of Utility Header */

@media (min-width: 768px){
  .utility-links{
    margin-right: -8px;
  }
}
@media (max-width: 767px){
  .utility-header .container.ca_wp_container{
    width: 100%;
    padding-bottom: 2px;
  }
}
#nav_list{
    width: auto;
	 float: right; 
    margin-right: -8px;
  	padding-left: 25%;
}
.sub-nav{
	left:  0;
  right: 0;
}

.second-level-nav {
    display: initial;
}
.second-level-nav li{
     float: left;
}
/* Full Sub-Nav */
.unit1 .second-level-link{
  height: 65px;
}

.unit2 , .unit3, .unit3  .nav-media .media{
  height: 130px;
}

/* MegaDropdown Navigation Styles */
.full .second-level-nav .unit1 {
    width: 25%;
}

.full .second-level-nav .unit2,
.full .second-level-nav .unit3,
.half .second-level-nav .unit1,
.half .second-level-nav .unit2,
.three-quarters .second-level-nav li.unit2,
.three-quarters .second-level-nav li.unit3{
     width: 50%;
}
.three-quarters .second-level-nav li.unit1{
  	width: 33.3%;
}

.half .second-level-nav .unit3 .nav-media .media .unit2{
  width: 100%;
}
/* Dropdown Navigation Styles */
@media (min-width: 768px){
  .main-navigation.dropdown .sub-nav {
    max-width:250px;
    left: auto; /* IE does not recognize initial */
    left: initial;
    right: auto; /* IE does not recognize initial */
    right: initial;
  }
}

.main-navigation.dropdown .sub-nav ul li{
	width: 100%;
}
.main-navigation.dropdown .sub-nav ul li img{
	display: none;
}

/* End of Branding & Navigation */

/* Header Slideshow Banner */

/* position the owl dots */
.header-slideshow-banner .banner-pager, .header-slideshow-banner .banner-play-pause{
  top: inherit;
  bottom: 140px;
  z-index: 6;
}


/* Footer */
.global-footer ul > li{
	padding-left: 0;

}
#footer .ca_wp_container div{
  padding: 0;
  overflow: hidden;
}
#footer .ca_wp_container .three-quarters{

}

#footer .socialsharer-container {
    height: 22px;
}

/* End of Footer */

/* Branding & Navigation */
@media (min-width: 768px){
  .fixed.compact .header-cagov-logo {
    height: 55px;
    line-height: 55px;
}
.fixed.compact .header-cagov-logo img {
    height: 45px;
}
}

.header-organization-banner{
  display: none;
}
.branding .header-cagov-logo{
  max-width: 25%;
  line-height: 88px;
}
.branding div a{
	display: inline-block;
    z-index: 26;
    position: relative;
}
.branding .header-cagov-logo img{
  max-height: 80px;
  width: 100%;
  position: unset;
  height: unset;
}
@media (min-width: 768px){
  .top-level-nav .nav-item {
    padding: 0 6px;
  }
}
@media (min-width: 992px){
  .top-level-nav .nav-item {
    padding: 0 8px;
  }
}
@media (min-width: 1280px){
   .branding .header-cagov-logo img{
    max-width: 300px;
    max-height: 80px;
  }
  #nav_list{
    padding-left: 300px;

}
}
/* End of Branding & Navigation */

/* Makes social media icons wrap below footer links */
@media (min-width: 992px){
#footer .three-quarters {
	float: left;
	min-width: 75%;
	width: unset;
  }
}
@media (min-width: 992px){
  #footer .quarter {
      float: left;
      max-width: 25%;
      width: unset;
  }
}

@media (max-width: 992px){
#footer .socialsharer-container {
    float: left;
}
}

@media (max-width: 991px) and (min-width: 768px){
.sub-nav .three-quarters {
    left: 0;
    width: 50%;
}

.three-quarters .second-level-nav li.unit1 {
    width: 100%;
}
.three-quarters .second-level-nav li.unit2,
.three-quarters .second-level-nav li.unit3{
  width: 100%;

}
}

/* End of Media Query Styles */
/* Mobile Control */
@media (max-width: 767px) {
  .mobile-controls{
    	background: #fff;
      padding-right: 70px;
  }
  .mobile-controls .toggle-menu, .mobile-controls .toggle-search{
    color: #046B99;
  }
  .mobile-controls .toggle-menu{
    right: 10px;
    left: auto;
  }
  #nav_list{
    width: 100%;
  }
  .second-level-nav li {
    float: none;
    width: 100% !important;
  }
  .second-level-nav .unit2  .link-description,
  .second-level-nav .unit3 .link-description{
    width: auto;
    height: auto;
    clip: auto;
  }

  .cagov-logo {
		position:static;
    position: initial;
    float: left;
    text-align: left;
    width: 80%;
}
  .cagov-logo img{
  	max-width : 100% ;
    max-height: 90px;
		margin-bottom: 8px;
  }
.branding {
    display: none;
}
.et_pb_row.main-navigation{
      width: 100%;
    }

}
/* End of Mobile Control Styles */
@media (min-width: 768px){
  .et_pb_row.main-navigation{
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    width: 80% !important;
  }
}


/* Section Carousel Version 5 */
.et_pb_ca_section_carousel .container{
  padding-top: 10px !important;
}


/* Fullwidth Section Carousel Version 5 */
.et_pb_ca_fullwidth_section_carousel .container{
  padding-top: 10px !important;
}
.ca_wp_container{
  max-width: 1080px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


@media (max-width: 980px){
.ca_wp_container{
  padding: 0;
}
}

@media (min-width: 981px){
.ca_wp_container{
  padding: 0;
}
}
@media (max-width: 767px){
  .ca_wp_container.main-navigation{
    width: 100%;
  }
  .et_pb_row{
    width: 90% !important;

  }
}
