/* Gutenberg interface overrides */

@supports (width: min(250px, 100%)) {
    .block-editor-block-list__layout.is-root-container .cagov-scrollable-button-grid.cagov-grid {
        grid-template-columns: none;
    }

    .cagov-scrollable-button-grid.cagov-grid .block-editor-block-list__layout {
        grid-template-columns: repeat(auto-fit, minmax(366px, 366px));
    }
}

/* Grid */
.cagov-scrollable-button-grid.cagov-grid .block-editor-block-list__layout {
    display: grid;
    grid-gap: 1.5rem;
    grid-row-gap: 64px;
}

.cagov-scrollable-button-grid .block-editor-rich-text__editable .rich-text {
    margin-top: 16px;
}

@media (min-width: 719px) {
    .cagov-scrollable-card .cagov-card-image {
        min-width: 366px;
    }
}

.wp-block:has(.cagov-scrollable-card) {
    height: 100%;
    background-color: #F9F9FA;
    border-radius: 5px;
    max-width: 366px;
    margin: 24px 0;
    background-color: #F9F9FA;
    border-radius: 5px;
}

.cagov-scrollable-card.cagov-grid .wp-block {
    margin: 0;
    max-width: calc(366px - 48px);
}

.cagov-scrollable-card .block-editor-inner-blocks p,
.cagov-scrollable-card .block-editor-inner-blocks .wp-block-button {
    margin: 0 0 16px 0;
}

/* Buttons */
.cagov-scrollable-card .components-button {
    display: block;
}
