.page-title {
	padding: 15px 15px 0;
}

.page-title + .entry-content div[class*="et_builder_inner_content"] + div[class*="et_pb_section"]:not(.et_pb_fullwidth_section) > div[class*="et_pb_row"] {
	padding-top: 0 !important;
}

.page-date {
	padding: 0 15px;
}

article article.et_pb_post {
	margin-bottom: 30px;
}