
/**
* Page & Builder Width Styles
* 
* Divi Built Standard Section Rows
* Divi Built Standard Section Rows when using Visual Builder
* Divi Fullwidth Menu Module Rows
*/
#main-content {
	.entry-content {
		.et_builder_inner_content,
		> #et-fb-app .et-fb-post-content {

			.et_section_regular{
				padding: 0 !important;
			}

			.et_pb_fullwidth_section .et_pb_module.et_pb_fullwidth_menu .et_pb_row,
			.et_pb_row {
				padding-left: 15px;
				padding-right: 15px;
				width: 100%;
				max-width: 1280px;
			}
		}
	}
}

/**
* Page & Builder Width Breakpoint Styles
* 
* Divi Built Standard Section Rows
* Divi Built Standard Section Rows when using Visual Builder
* Divi Fullwidth Menu Module Rows
*/
@each $name, $value in $break-points {
	@media (min-width: #{$name}px){
		#main-content {
			.entry-content {
				.et_builder_inner_content,
				> #et-fb-app .et-fb-post-content{

					.et_pb_fullwidth_section .et_pb_module.et_pb_fullwidth_menu .et_pb_row,
					.et_pb_row{
						max-width: #{$value}px !important;
					}
				}
			}
		}
	}
}