/*!
 Theme Name:   CAWeb
 Theme URI:    caweb.cdt.ca.gov
 Description:  CA State Template, Divi Child Theme
 Author:       California Department of Technology
 Author URI:   ""
 Template: 	   Divi
 Version:      1.4.16a
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, responsive-layout, accessibility-ready, california, ca
 Text Domain:  divi-state-child
*/#wpadminbar .ab-submenu{padding:6px 0!important}header{z-index:15!important}#tiny-mce.mce-content-body{background-color:transparent}