/* editor override */
.editor-styles-wrapper img.cagov-featured-image, .block-editor__container img.cagov-featured-image {
  height: 100%;
}
/* editor override */
.editor-styles-wrapper .wp-block a.cagov-action-link {
  color: #fff;
}
/* editor override */
.cagov-feature-card-body-content .wp-block-button.block-editor-block-list__block {
  background-color: #33705B;
  color: white;
  padding: 0;
  border-radius: .3rem;
  font-weight: bold;
  display: inline-block;
}
/* editor override */
.editor-styles-wrapper .cagov-feature-card-body-content .block-editor-rich-text__editable.wp-block-button__link {  
  background-color: transparent;
  padding: 0;
}
/* editor override */
.editor-styles-wrapper .cagov-feature-card-body-content .block-editor-rich-text__editable.wp-block-button__link:not(:hover):not(:active) {
  background-color: transparent;
  padding: 0;
}
/* editor override */
.editor-styles-wrapper .cagov-feature-card-body-content .wp-block-button:not(.is-style-outline) .wp-block-button__link:not(:hover):not(:active):not(.has-background) {
  background-color: transparent;
}

.block-editor-rich-text__editable.wp-block-button__link.rich-text {
  padding: 0;
}
.wp-core-ui .button-group.button-large .button, 
.wp-core-ui .button.button-large,
.components-button .button .button-large {
  margin: 25px;
}

.cagov-featured-section .components-button.image-button {
  margin: 0;
  padding: 0;
}