$first-level-link-height : auto;

@import '../custom/template';
@import '../custom/main-content';
@import '../custom/page-margins';
@import '../custom/location-bar';
@import '../custom/google';
@import '../custom/navigation';
@import '../custom/nav/mega-menu';

// Corrects Logo when navigation is compacted, in mobile view
@media (min-width: 768px){
	.fixed.compact .header-organization-banner a img{
		max-height: 50px;
	}
}