{% extends "layout.html.twig" %}
{% import "macros.twig" as macros %}

{% block head %}
<title>How to Compile CSS/JS</title>

{% endblock head %}


{% block introduction %}
<div class="offset-quarter">
    <h1>Compile CSS/JS</h1>
    <p>{{ project.name }} utilizes <a href="https://gulpjs.com/" target="_blank">GULP</a> to compile all CSS & JS files for the theme.
        Make sure npm is installed along with necessary packages, from a terminal in the projects root directory run the following commands.
    </p>

    {{ macros.terminal_command( ['npm -v', 'npm install', 'npm run build'] ) }}
</div>
{% endblock introduction %}

{% block table_of_contents %}
{% endblock table_of_contents %}

{% block body %}

{% endblock body %}