/* HIDE THE 'Enable Visual Builder' Button*/
#et_pb_fb_cta, .et-bfb-optin-cta {
	display: none !important;
}
/* This is the background color for the Divi Panel that pops open
		when inserting modules or sections */
.et-pb-main-settings{
	background-color: lightblue;
}
/* TinyMCE Content Editor */
body#tinymce.mce-content-body{
	background-color: transparent;
	padding: 10px;
}
/* CAWeb Options Page Styles */
a.caweb-option span:after{
	font-family: 'CaGov';
	content: '\43'
}
a.caweb-option.collapsed span:after{
	font-family: 'CaGov';
	content: '\45'
}

.ca_fav_ico_option{
	height: 32px;
}
.header_ca_branding_option, 
.ca_fav_ico_option, 
.header_ca_background_option{
	min-height: 1px;
	max-height: 150px;
  	padding-left: 2px;
  	padding-top: 5px;
}
textarea#ca_custom_css{
	min-height: 500px;
}
/* Tooltip Styles */
.tooltip {
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}