/* HIDE THE 'Enable Visual Builder' Button*/
#et_pb_fb_cta, .et-bfb-optin-cta {
	display: none !important;
}
/* This is the background color for the Divi Panel that pops open
		when inserting modules or sections */
.et-pb-main-settings{
	background-color: lightblue;
}

/* CAWeb Options Page Styles */
#caweb-options-container {
    margin-bottom: 5px;
}
/* Indent fields under each category */
@media (max-width: 782px){
  .form-table th {
    text-align: start !important;
  }
}
.form-table th{
    padding: 10px 10px 10px 0px;
    text-align: end;
  }
.form-table td{
  padding: 5px 10px;
}
select#ca_google_trans_display {
    margin-bottom: 10px;
}

.option{
	text-decoration: underline;
  font-size: 1.2rem;
}

#cawebAlerts li{
	border-bottom: 1px solid black;
	cursor: -webkit-grabbing;
  padding: 1px 10px 10px 10px;
}
ol#uploadedCSS li,
ol#uploadedJS li {
    cursor: -webkit-grab;
}
tr.pending-css td .remove-css,
tr.pending-js td .remove-js {
  margin-left: -28px;
  margin-right: 22px;
}

/* CAWeb Navigation Page Styles */
.page-title-action{
  display:none;
}
 .mega_menu_images.show, .media_image.show, .unit_selector.show, .icon_selector.show{
    display:block;
  }

.mega_menu_images, .media_image, .unit_selector, .icon_selector {
    display: none ;
}
  .menu-item-edit-active .menu-item-settings {
    display: inline-block !important;
}

h2.nav-tab-wrapper{
  border-bottom: none !important;

}
/* Remove Auto-add Pages from Navigation menu */
fieldset.menu-settings-group.auto-add-pages{
    display: none;
}
/* Remove Move options from Navigation menu items */
p.field-move {
    display: none !important;
}
/* Icon List */
  ul.menu-icon-list{
    height: 300px;
    overflow-y: scroll;
  }
ul.menu-icon-list li:hover{
	background-color: #008BDB;
	cursor: pointer;
}

 ul.menu-icon-list li.is_selected{
    background-color: #008BDB;
}

	ul.et_font_icon {
		background-color: white !important;
		max-height: 300px;
	}
	.et_font_icon li {
		font-size: 30px;
    float: left;
    padding: 8px;
	}
	.et-pb-option-container .description {
			color: black !important;
	}
/* Tooltip Styles */
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
	border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
	opacity: 1;
	font-weight: 600;
}

.tooltip:hover{
		cursor: help;
}
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
		width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;


    position: absolute;
    z-index: 1;

		/* Positioning Styles*/
		/* Left */
    bottom: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;

}

textarea#ca_custom_css{
	min-height: 500px;
}
/* Tooltip Styles */
.tooltip {
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}


/* Customizer Styling */
#customize-control-caweb_custom_css label textarea{height: 500px; resize: none; overflow-y: scroll;}
#accordion-panel-nav_menus{display:none !important;}

/* Thickbox Styling for the CAWeb Options Page */
body.toplevel_page_caweb_options #TB_window{
	top: 10% !important;
    height: auto !important;
    width: auto !important;
}	
body.toplevel_page_caweb_options #TB_window #TB_ajaxContent{
	height: 100% !important;
}
@media (max-width: 768px){
	body.toplevel_page_caweb_options #TB_window{
		left: 10% !important;
    width: 100% !important;
    max-width: 80% !important;
		margin-left: 0 !important;
	}	
	body.toplevel_page_caweb_options #TB_window #TB_ajaxContent{
		width: 95% !important;
	}
	
}