@import './custom/variables';

body {
    &[class*="5.5"]{
        @import './custom/';

        &.divi-built{
            @import 'divi';
        }
    }

    &[class*="6.0"]{
	    @import '../version-6.0/variables';
        @import './custom/';
            
        &.divi-built{
            @import 'divi';
        }

    }

    // Search Page Template Overrides
    &.page-template-searchpage{
        @import 'custom/search';
    }

    // if sidebar is displayed
    &.sidebar-displayed{
        @import 'custom/sidebar';
    }
}

@import 'wp';
@import 'a11y';

@import 'font-only';
