/*
Custom variables for the CAWeb Theme
*/
@import './custom/variables';

body{

	@import './custom/google';
	
	@import 'divi';
	
    // SERP Template Overrides
    &.page-template-searchpage{
        #main-content .container:before {
			background: transparent;
		}
		.gsc-cursor-page:focus{
			outline: solid 2px #2ea3f2;
		}
		.mobile-controls .toggle-search,
		form#Search .close-search {
			display: none !important
		}
    }

    // if sidebar is displayed
    &.sidebar-displayed{
        @import 'custom/sidebar';
    }
}

// Add print styles
@import 'custom/print';

// Add WordPress style overrides
@import 'wp';

// Add Accessibility styles
@import 'a11y';
