/* Dropdown Navigation Styles */
.main-navigation.dropdown .sub-nav ul li{
	width: 100%;
	height: auto;
}

.main-navigation.dropdown .sub-nav ul li img{
	display: none;
}

@media (min-width: 768px){
	.main-navigation.dropdown .sub-nav {
	  max-width:250px;
	  left: auto; /* IE does not recognize initial */
	  left: initial;
	  right: auto; /* IE does not recognize initial */
	  right: initial;
	}
  }
  