/* MegaDropdown Navigation Styles */
@media (max-width: 991px) {
	nav.megadropdown{
		// make all subnav li's full width
		.second-level-nav:not(.flex) li {
			width: 100% !important;
		}

		// make second-level-nav container full width
		div[class*="pull-"]{
			width: 100% !important;
		}

		// hide all subnav images
		div[class*="with-image-"]{
			display: none;
		}
	}
}
