/* TinyMCE Content Editor */
body#tinymce.mce-content-body{
	background-color: transparent;
	padding: 10px;
}

/* Menu List */
.menu-list li.list-group-item:not(.selected){
	background-color: #fff !important;
}
.menu-list li.list-group-item:not(.selected):hover a {
	color: #fff !important;
}

/* Toggle Arrows when collapsed */
a[data-toggle="collapse"] h2 > span:after,
a[data-toggle="collapse"] label > span:after{
	content: '\43'
}
a[data-toggle="collapse"].collapsed h2 > span:after,
a[data-toggle="collapse"].collapsed label > span:after{
	content: '\45'
}

/* Fav Icon Preview Height */
.ca_fav_ico_option{
	max-height: 30px;
}

/* Image Preview Min/Max Height */
.header_ca_branding_option, 
.header_ca_background_option{
	min-height: 1px;
	max-height: 150px;
}

/* Custom CSS */
#uploaded-css li a,
#uploaded-js li a,
#add-css, #add-js, #add-alert{
	cursor: pointer;
}

#uploaded-css li,
#uploaded-js li{
	cursor: grab;
}

/* Alert Banners */
.dashicons.alert-status,
.remove-alert{
	cursor: pointer;
}

#caweb-alert-banners li,
#uploaded-css li,
#uploaded-js li{
	cursor: grab;
}