.icon-select {
    height: 48px;
    padding: 0 0px 0 16px;
}

.editor-styles-wrapper .message-body {
    padding: 0 32px;
}

.editor-styles-wrapper .cagov-page-alert {
    min-height: 64px;
    height: auto;
}

.cagov-page-alert {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    
    width: 100%;
    min-height: 46px;
    height: auto;
    
    background: rgba(254, 192, 47, 0.2);
    border: 1px solid #FEC02F;
    box-sizing: border-box;
    border-radius: 5px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0;
}

.cagov-block .cagov-stack.cagov-page-alert  {
    margin-top: 32px;
    /* margin-bottom: 64px; */
}

.cagov-page-alert .icon {
    line-height: 1.5rem;
}

.cagov-page-alert .body {
    line-height: 1.5rem;
    padding: 0 16px;
}

.cagov-page-alert .close-button {
    margin-left: auto;
}

@media only screen and (max-width: 580px) {
    .cagov-page-alert {
        min-height: 46px;
        height: auto;
    }
    .cagov-page-alert .body {
        padding: 0 8px;
    }
}