/* Hide Activation Links on wp-activate.php */
.wp-activate-container p.view{
    display:none;
}

#signup-content{
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

@media (min-width: 768px){
	#signup-content {
		max-width: 750px !important;
	}
}
@media (min-width: 992px){
	#signup-content {
		max-width: 970px !important;
	}
}
@media (min-width: 1200px){
	#signup-content{
		max-width: 1200px !important;
	}
}
@media (min-width: 1280px){
	#signup-content{
		max-width: 1280px!important;
	}
}