/* Thickbox Styles */
#TB_closeWindow #TB_closeWindowButton .tb-close-icon{
  display: none;
}
#TB_closeWindow #TB_closeWindowButton .screen-reader-text,
#TB_title #TB_closeWindowButton .screen-reader-text{
border: 0;
clip: rect(1px,1px,1px,1px);
-webkit-clip-path: inset(50%);
clip-path: inset(50%);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
width: 1px;
word-wrap: normal!important;
}
