
// if page is the old Classic WordPress Editor
// Not using Divi Builder
// Not a SERP Template
// Not using Gutenberg
body.classic-built:not(.page-template-searchpage){

	#main-content {
		width: 100%;
		margin: 0 auto;
		padding: 15px;
	}

	@each $name, $value in $break-points {
		@media (min-width: #{$name}px){
			#main-content {
				max-width: #{$value}px;
			}
		}
	}
}

#main-content .container:before {
	background: transparent;
}

// if page was built with Gutenberg WordPress Editor
body:not(.page-template-searchpage){
	

	#main-content .entry-content {
		// if row is after entry-content
		& > .wp-block-group{
			max-width: 100%;
			margin-bottom: 1.5rem;

			@each $name, $value in $break-points {
				@media (min-width: #{$name}px){
					// if row has columns
					& > .wp-block-columns{
						width: 100%;
						max-width: #{$value}px;
						margin: 0 auto;
					}
				}
			}
		}
	}
}