body:not(.divi-built) {
	#main-content {
		width: 100%;
		max-width: #{map-get($break-points, 1280)}px;
		margin: 0 auto;
		padding: 15px;
	}

	@each $name, $value in $break-points {
		@media (min-width: #{$name}px){
			#main-content {
				max-width: #{$value}px;
			}
		}
	}
}
