#main-content {
	width: 100%;
	margin: 0 auto;
	padding: 15px;
}

@each $name, $value in $break-points {
	@media (min-width: #{$name}px){
		#main-content {
			max-width: #{$value}px;
		}
	}
}