.page-title {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	max-width: #{map-get($break-points, 1280)}px;
}

@each $name, $value in $break-points {
	@media (min-width: #{$name}px){
		.page-title {
			max-width: #{$value}px !important;
		}
	}
}