main {
    width: 75%;
    display: inline-block;
}
#caweb-sidebar {
    padding: 0 28px;
    width: 25%;
    float: right;

    #sidebar {
        float: none;
        width: 100%;
    }
}
footer{
    clear: both;
}

@media screen and (max-width: 768px) {
    main {
        width: 100%;
    }
    #caweb-sidebar {
        width: 100%;
        float: none;
    }
}