/* Corrects issue when Global Header not being Fixed (Sticky Navigation), main-content doesnt go full width */
body:not(.sticky_nav) #main-content.main-content {
	width: 100%;
}

#page-container{
	padding-top: 0px;
}

p{
	padding-bottom: 0;
}

h1, h2, h3, h4, h5, h6{
	color: inherit;
	margin-top: 0;
	margin-bottom: 0;
}

header {
    z-index: 15 !important;
}

.list-standout, 
.list-understated, 
.list-overstated, 
.accordion-list{
	list-style-type: none !important;
	padding: 0 !important;
}

.list-standout{
	padding-left: 1.5em !important;
}

.pagination{
	display: block;
}
