/* Fullwidth Header Slideshow Banner */
.et_pb_module.et_pb_ca_fullwidth_banner .explore-invite{
	z-index: 5;
}
.et_pb_module.et_pb_ca_fullwidth_banner.no-explore #primary-carousel div[class*="banner-"] {
	bottom: 5px;
}
.et_pb_module.et_pb_ca_fullwidth_banner.solo #primary-carousel div[class*="banner-"] {
	display: none;
}

/* position the owl dots */
.et_pb_module.et_pb_ca_fullwidth_banner .banner-pager, 
.et_pb_module.et_pb_ca_fullwidth_banner .banner-play-pause{
  bottom: 145px;
}