/* Google Translate */
#google_translate_element .skiptranslate.goog-te-gadget, .skiptranslate.goog-te-gadget a {
	color: white;
}
#google_translate_element.custom-translate .skiptranslate.goog-te-gadget, .skiptranslate.goog-te-gadget a {
	color: inherit;
}
.skiptranslate.goog-te-gadget a:hover{
	color:#fee09c;
}

/* Google Search */
.gs-visibleUrl-breadcrumb{
	color: #008A28 !important;
}