body:not(.design-system){
	/* Override styles for second level navs not using flex */
	.second-level-nav:not(.flex) {
		display: block;
		position: relative !important;
		opacity: 1 !important;
		visibility: visible !important;
		width: auto !important;
		padding: 0 !important;
		background: inherit;

		li{
			display: inline-block;
		}

		.second-level-link{
			font-size: 17.6px;
			font-size: 1.1rem;
		}
		
		.second-level-link:hover{
			background-color: inherit;
			opacity: 1;
			transition: all 0.3s;
		}
		
	}

	/* Override nav li line-height */
	nav li{
		line-height: 1.5 !important;
	}

	// Fix Divi adding max-width
	nav.megadropdown .media-left .media-object{
		max-width: inherit;
	}

	// Change various navigation behavior when in mobile/tablet view
	@media (max-width: 992px){
		nav {
			// Hide link descriptions, large icons and media objects
			.link-description,
			.media-left,
			.font-size-40,
			.image-icon {
				display: none;
			}

			/* MegaDropdown Navigation Styles */
			&.megadropdown{
				// make all subnav li's full width
				.second-level-nav:not(.flex) li {
					width: 100% !important;
				}
		
				// make second-level-nav container full width
				div[class*="pull-"]{
					width: 100% !important;
				}
		
				// hide all subnav images
				div[class*="with-image-"]{
					display: none;
				}
			}
		}
	}
}

body.design-system{
	cagov-navoverlay{
		border-bottom: 0;

		nav{
			max-height: 50px;
		}

		li{
			strong a{
				padding-left: 0;
			}

			.expanded-menu-section{
				position: absolute;
				padding: 0 15px;
				outline: 1px solid #efefef;
				background: #fff;
				box-shadow: 0px 4px 7px -1px rgb(0, 0, 0);

				a{
					white-space: nowrap;
				}
			}

			.expanded-menu-section:not(.expanded) a{
				display: none;
			}
		} 
	}
}