body{
	background-color: #fff;
}

h1, h2, h3, h4, h5, h6{
	color: inherit;
	margin-top: 0;
	margin-bottom: 0;
}

.list-standout, 
.list-understated, 
.list-overstated, 
.accordion-list{
	list-style-type: none !important;
	padding: 0 !important;
}

.list-standout{
	padding-left: 1.5em !important;
}

.pagination{
	display: block;
}

body.page-template-searchpage.logged-in .gssb_c,
body.v4.logged-in .gssb_c{
	margin-top: 35px;
}

/* Remove extra padding when ul is nested inside another ul */
ul ul{
	padding-bottom: 0px;
}

header {
    z-index: 15 !important;
}

ol.breadcrumb{
    text-transform: capitalize;
    margin-bottom: 0;
}
ol:not(.nav-menu),ul:not(.nav-menu){
	padding: 0px 0px 30px 50px !important;
	list-style-position: outside !important;
}