/* Page Title */
.page-title{
	padding-top: 30px;
	padding-bottom: 30px;
}

.page-title{
     width: 100%;
     max-width: 1280px;
     margin: 0 auto;
}

.divi_builder .page-title{
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px){
	.page-title{
		max-width: 750px !important;
	}
}

@media (min-width: 992px){
	.page-title{
		max-width: 970px !important;
	}
}

@media (min-width: 1200px){
	.page-title{
		max-width: 1200px !important;
	}
}

@media (min-width: 1280px){
  .page-title{
      max-width: 1280px!important;
  }
}

@media (max-width: 767px){
	.page-title{
		width: 100% !important;
		margin: 0 auto;
	}
	.divi_builder .page-title{
		padding-bottom: 30px !important;
	}
}
