body{
	background-color: #fff;
}

h1, h2, h3, h4, h5, h6{
	color: inherit;
	margin-top: 0;
	margin-bottom: 0;
}

.list-standout{
	padding-left: 1.5em !important;
}

@media (max-width: 767px) {
	.cagov-logo {
		position:static;
		position: initial;
		float: left;
		text-align: left;
		width: 80%;
	}
	.cagov-logo img{
		max-width : 100% ;
		max-height: 90px;
		margin-bottom: 8px;
	}
}