/* Divi Specific Overrides */

@import "divi/blurb";
@import "divi/text";
@import "divi/toggle";

#page-container{
	padding-top: 0px;
}

.et_section_regular{
	padding: 0 !important;
}

p{
	padding-bottom: 0;
}

.search-results .et_pb_post{
	margin-bottom: 30px;
}