/* Divi Specific Overrides */

@import "divi/blurb";
@import "divi/toggle";

/* HIDE THE 'Enable Visual Builder' Button*/
#wp-admin-bar-et-use-visual-builder{
	display: none !important;
}
#page-container{
	padding-top: 0px;
}

.et_section_regular{
	padding: 0 !important;
}

p{
	padding-bottom: 0;
}

.search-results .et_pb_post{
	margin-bottom: 30px;
}