body.login{
	font-size: initial;
}
body.login #login h1 a{
	background-image: url('../images/system/caweb-logo.png');
    background-size: contain;
	height: 100px;
	width: 370px;
}

body.login #loginform,
body.login #nav,
body.login #login #backtoblog {
	display: none;
}

body.login #loginform label{
	display: block;
}

body.login{
	background: aliceblue;
}

@media (min-width: 900px){
	body.login #login h1 a{
		width: 300px;
	}
}