body.login{
	font-size: initial;
}
body.login #login h1 a{
	background-image: url('../images/system/caweb-logo.png');
    background-size: contain;
	height: 100px;
	width: 370px;
}

body.login #login #backtoblog {
	display: none;
}

body.login #loginform label{
	display: block;
}

body.login #login{
	width: 95%;
}

body.login .message{
	float: none !important;
	width: 100% !important;
}

@media (min-width: 900px){
	body.login{
		background: aliceblue;
	}
	body.login #login {
		width: 1280px;
	}
	body.login #login #login_error{
		margin-left: 51%;
	}
}