body.login #login h1 a{
	background-image: url('../images/system/caweb-logo.png');
    background-size: contain;
	height: 100px;
	width: 320px;
}

body.login #login .btn-danger{
	color: white !important;
}

body.login #login #backtoblog{
	display: none;
}

body.login .caweb-disclaimer{
	font-size: 9pt;
}

@media (max-width: 767px){
	body.login .caweb-disclaimer{
		width: 320px !important;
	}	
	body.login .caweb-disclaimer{
		font-size: 8pt;
	}
}