/* Toggle Arrows when collapsed */
a[data-toggle="collapse"] h2 > span:after{
	content: '\43'
}
a[data-toggle="collapse"].collapsed h2 > span:after{
	content: '\45'
}


/* Image Preview Min/Max Height */
.header_ca_branding_option, 
.header_ca_background_option{
	min-height: 1px;
	max-height: 150px;
}

/* Custom CSS */
#uploaded-css li a,
#add-css{
	cursor: pointer;
}
#ca_custom_css{
	min-height: 300px;
}
