// Search Page Template Overrides
body.page-template-searchpage{
    #main-content .container:before {
        background: transparent;
    }
    .search-container {
        top: 0 !important;
    }
    .mobile-controls .toggle-search,
    form#Search .close-search {
        display: none !important
    }
    .gsc-cursor-page:focus{
        outline: solid 2px #2ea3f2;
    }
}