// Default Font-Family
$font-family: 'CaGov';

// WordPress Default BG
$body-bg: #f1f1f1 !default;

// Bootstrap Displays 
// Adding display: contents to list of defaults
$displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex, contents !default;
